body
{
	margin: 0 auto;
	background-color: #000e28;
	font-family: Arial, Verdana, sans-serif;
}
.Museo-700 { font-family: Museo-700; }
div
{
	overflow: hidden;
}
#container
{
	width: 1150px;
	margin: 0 auto;
}
#container > section
{
	background-color: #ffffff;
}
#container > section > header
{
	height: 100px;
	background-color: #000a1c;
}
#container > section > article
{
	padding: 20px;
	min-height: 425px;
}
#logo
{
	float: left;
}
img
{
	border: none;
}
#logo > a > h1
{
	position: absolute;
	top: -10000px;
	left: -10000px;
}
#container > section > footer
{
	height: 162px;
	background-color: #000a1c;
	min-width: 600px;
}
#impact
{
	margin: 0 auto;
	width: 1061px;
	height: 314px;
	background-color: #000000;
	padding-top: 30px;
	padding-left: 20px;
	border: #a7a8a4 1px solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#impact > div.left
{
	float: left;
	width: 612px;
}
#impact > div.right
{
	float: right;
	width: 449px;
}
#framework_agnosthic
{
	width: 361px;
	height: 268px;
	background: transparent url(../images/frame_framework_agnosthic.png) left top no-repeat;
	padding: 5px;
	margin-right: 30px;
}
#impact > div.left > div.frame > div.left
{
	float: left;
}
#modular
{
	width: 160px;
	height: 120px;
	background: transparent url(../images/frame_modular.png) left top no-repeat;
	padding: 5px;
}
#extensible
{
	width: 160px;
	height: 120px;
	background: transparent url(../images/frame_modular.png) left top no-repeat;
	padding: 5px;
	margin-top: 18px;
}
#top_menu
{
	padding-top: 40px;
}
#top_menu > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 595px;
	font-size: 12px;
}
#top_menu > ul > li
{
	text-indent: 0;
	width: 119px;
	float: left;
	text-align: center;
}
#top_menu > ul > li > a
{
	display: block;
	color: #ffffff;
	text-decoration: none;
}
div.mark
{
	height: 4px;
	margin-top: 7px;
	background-color: #ffffff;
}
#top_menu > ul > li > div.mark
{
	display: none;
}
#top_menu > ul > li.active > div.mark
{
	display: block;
}
#slogan
{
	line-height: 18px;
}
#slogan > img
{
	margin-right: 5px;
	float: left;
}
#slogan > span
{
	display: block;
	color: #3c74b8;
	font-size: 14px;
}
#impact > div.right > p
{
	color: #ffffff;
	font-size: 12px;
}
#impact > div.right > ul
{
	margin: 0;
	padding: 0;
	list-style-type: disc;
}
#impact > div.right > ul  > li
{
	color: #ffffff;
	font-size: 12px;
	margin-bottom: 4px;
	margin-left: 20px;
}
#download_hydra_about
{
	margin-left: 5px;
}
#download_hydra_about > ul
{
	margin: 0;
	padding: 0;
	margin-bottom: 7px;
	margin-top: 9px;
}
#download_hydra_about > ul > li
{
	font-size: 12px;
	color: #ffffff;
	line-height: 18px;
}
#links
{
	padding-top: 44px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}
#links > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#links > ul > li
{
	width: 33.33%;
	float: left;
}
#links > ul > li > div
{
	text-align: center;
}
#links > ul > li > div.softonic
{
	height: 325px;
	width: 270px;
	margin: 0 auto;
	background: transparent url(../images/frame_usages_links.png) left top no-repeat;
	position: relative;
}
#links > ul > li > div.softonic > div > img
{
	margin-top: 5px;
}
#links > ul > li > div.softonic > a.button
{
	background: transparent url(../images/link_button.png) left top no-repeat;
	height: 29px;
	width: 59px;
	display: block;
	float: right;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	line-height: 29px;
	font-size: 11px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
#links > ul > li > div.softonic > p
{
	text-align: left;
	font-size: 11px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	margin: 0;
}
#links > ul > li > div.byveo
{
	height: 325px;
	width: 270px;
	margin: 0 auto;
	background: transparent url(../images/frame_usages_links.png) center top no-repeat;
	position: relative;
}
#links > ul > li > div.byveo > p
{
	text-align: left;
	font-size: 11px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	margin: 0;
}
#links > ul > li > div.byveo > a.button
{
	background: transparent url(../images/link_button.png) left top no-repeat;
	height: 29px;
	width: 59px;
	display: block;
	float: right;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	line-height: 29px;
	font-size: 11px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
#links > ul > li > div.byveo > div > img
{
	margin-top: 5px;
}
#links > ul > li > div.mentions
{
	height: 325px;
	width: 270px;
	margin: 0 auto;
	background: transparent url(../images/frame_usages_links.png) right top no-repeat;
	position: relative;
}
#links > ul > li > div.mentions > p
{
	text-align: left;
	font-size: 11px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	margin: 0;
}
#links > ul > li > div.mentions > a.button
{
	background: transparent url(../images/link_button.png) left top no-repeat;
	height: 29px;
	width: 59px;
	display: block;
	float: right;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	line-height: 29px;
	font-size: 11px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
#links > ul > li > div.mentions > div > img
{
	margin-top: 5px;
}
#download_hydra_about > a.blank
{
	float: left;
}
#current_release
{
	float:left;
	margin-left: 20px;
	margin-top: 5px;
}
#current_release > span.title
{
	font-size: 10px;
	color: #ffffff;
}
#current_release > span.version
{
	margin-left: 6px;
	font-size: 11px;
	color: #155fb3;
	font-weight: bold;
}
#downloads
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	margin-top: 45px;
}
#downloads > li
{
	float: left;
	width: 33.33%;
    padding-top: 3px;
	padding-bottom: 30px;
}
#downloads > li > a
{
	text-align: center;
	display: block;
}
#downloads > li > a > img{
    filter:alpha(opacity=65);
    -moz-opacity: 0.65;
    opacity: 0.65;
}

#downloads > li > a:hover > img{
    filter:alpha(opacity=100);
    -moz-opacity: 1.0;
    opacity: 1.0;
}

#downloads > li > a:hover{
    position: relative;
    top: -2px;
}