/* 
    Document   : docs
    Created on : Aug 29, 2010, 8:27:42 PM
    Author     : carsten.kraus@gmail.com
    Description:
        Google closure lib styles, applied on top of sane default in style.css
*/


/* TAGS */
body{
    padding: 10px;
}
h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,p,blockquote {padding:10px;}
h1,h2,h3,h4,h5,h6,img,dt,{padding-bottom:0px;}
pre{margin: 10px;}
table h1,table h2,table h3,table h4,table h5,table h6,table p,table ul,table ol,table dl{padding:0;}
ul,ol { margin: 0; }

h1{ font-size: 35px; }
a, a:hover, a:visited {
  text-decoration: none;
  font-weight: bold;
}
a img {
  border: 0;
}
a, a:link {
    color: #3355cc;
}
a:active {
  color: #ff0000;
}
a:visited {
  color: #551a8b;
}

header{
    display: block;
    width: 100%;
}
.content>article>header{
    padding-bottom: 0;
}
article{
    display: table-cell;
    vertical-align: top;
}
.content > nav{
    width: 25%;
    padding: 14px 0 0 15px;


    
    display: table-cell;
}
section{
    margin-top: 10px;
}
section h1{
    font-size: 17px;
}
section h2{
    font-size: 19px;
    font-weight: normal;
}
section h3{
}

dt{
    border-top:1px solid #E9E9E9;
    font-weight: bold;
    padding-left: 20px;
}
dd{
    padding-left: 30px;
}

/* CLASSES */
.content{
    display: table;
    width: 100%;
}
.underlined{
    border-bottom:1px solid #E9E9E9;
}
.tight{
    padding: 0;
    margin: -10px;
}

/* MODULES */
.logo {
    background:
        url('http://closure-library.googlecode.com/svn/docs/static/images/16px.png')
        no-repeat 10px 9px;
    padding-left: 36px;
    font-size: 13px;
}
.rounded-box {
    color: #000;
    background-color: #c3d9ff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding-bottom: 10px;
}
.wired{
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;;
}
.wired h1{
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding:  6px 0 4px 0;
}
.overview{
    display: table;
    width: 100%;
}
.overview div{
    display: table-cell;
}
.overview aside{
    display: table-cell;
    width: 200px;
}

/* Lists */
.current {
  margin-left: -13px;
  margin-right: -10px;
  padding-left: 13px;
  background: url("../images/bluearrow.png") no-repeat;
  background-color: #668CD9;
  color:#fff;
  line-height: 20px;
}
.current a{
  color:#fff;
}


/* MISC */
::-moz-selection{ background:#FFC602; color:#fff; text-shadow: none; }
::selection { background:#FFC602; color:#fff; text-shadow: none; }















/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */

/*
 * Cross-browser implementation of the "display: inline-block" CSS property.
 * See http://www.w3.org/TR/CSS21/visuren.html#propdef-display for details.
 * Tested on IE 6 & 7, FF 1.5 & 2.0, Safari 2 & 3, Webkit, and Opera 9.
 *
 * @author attila@google.com (Attila Bodis)
 */

/*
 * Default rule; only Safari, Webkit, and Opera handle it without hacks.
 */
.goog-inline-block {
  position: relative;
  display: -moz-inline-box; /* Ignored by FF3 and later. */
  display: inline-block;
}

/*
 * Pre-IE7 IE hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
* html .goog-inline-block {
  display: inline;
}

/*
 * IE7-only hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
*:first-child+html .goog-inline-block {
  display: inline;
}